@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.active-page-link {
  color: white !important;
  background-color: #007bff !important;
  border-color: #007bff !important;
  font-weight: bold;
}

/* change background color of body with dark grey */
@media (prefers-color-scheme: dark) {
  body {
    background-color: #121111
  }
}